agora_token_builder==1.0.0
amqp==5.2.0
annotated-types==0.6.0
anyio==3.7.1
asgiref>=3.5.0,<4
channels==4.0.0
atom==0.10.0
awsebcli==3.20.10
beautifulsoup4==4.12.3
billiard==4.2.1
botocore==1.31.70
Brotli==1.1.0
bs4==0.0.1
celery==5.4.0
cement==2.8.2
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.3
dacite==1.8.1
decorator==4.4.2
Deprecated==1.2.14
distlib==0.3.7
dj-database-url==2.1.0
Django==4.0.1
django-admin-honeypot==1.1.0
django-admin-thumbnails==0.2.8
django-cors-headers==4.3.0
django-crontab==0.7.1
django-extensions==3.2.3
django-extra-keywords==1.1.2
django-heroku==0.3.1
django-jet-reboot==1.3.5
django-paypal==2.0
django-session-timeout==0.1.0
django-slugify-processor==1.7.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.0
fastapi==0.103.2
feedparser==6.0.11
ffmpeg==1.4
filelock==3.13.1
fsspec==2024.2.0
greenlet==3.0.0
gunicorn==21.2.0
h11==0.14.0
httpcore==0.18.0
httpx==0.25.0
huepy==1.2.1
idna==3.4
imageio==2.34.0
imageio-ffmpeg==0.4.9
jaconv==0.3.4
Jinja2==3.1.2
jmespath==1.0.1
kombu==5.4.2
livereload==2.6.3
lxml==4.9.3
markdown-it-py==3.0.0
markdown2==2.4.10
MarkupSafe==2.1.3
mdurl==0.1.2
moviepy==1.0.3
mpmath==1.3.0
mutagen==1.47.0
networkx==3.2.1
ngrok==0.12.0
numpy==1.26.0
packaging==24.0
pafy==0.5.5
pandas==2.1.1
pathspec==0.10.1
php==1.2.1
Pillow==10.0.1
playwright==1.39.0
proglog==0.1.10
prompt_toolkit==3.0.48
psycopg2==2.9.9
pycryptodomex==3.20.0
pydantic==2.7.1
pydantic_core==2.18.2
pyee==11.0.1
pyfiglet==1.0.2
Pygments==2.16.1
PyJWT==2.8.0
pykakasi==2.2.1
python-dateutil==2.8.2
python-decouple==3.8
python-slugify==8.0.4
python-telegram-bot==20.6
pytube==15.0.0
pytz==2023.3.post1
PyYAML==6.0.1
rapidfuzz==3.9.0
redis==5.0.4
requests==2.31.0
rich==13.7.1
selectolax==0.3.17
semantic-version==2.8.5
sgmllib3k==1.0.0
six==1.16.0
sniffio==1.3.0
soundcloud-v2==1.3.7
soupsieve==2.5
spotipy==2.23.0
sqlparse==0.4.2
starlette==0.27.0
stripe==8.5.0
sudo==1.0.0
sympy==1.12
syncedlyrics==0.7.0
termcolor==1.1.0
text-unidecode==1.3
tornado==6.3.3
tqdm==4.66.2
typing_extensions==4.8.0
tzdata==2024.2
Unidecode==1.3.8
urllib3==1.26.18
uvicorn==0.23.2
vine==5.1.0
virtualenv==20.24.6
vite==1.5.2
wcwidth==0.1.9
websockets==12.0
whitenoise==6.6.0
wrapt==1.16.0
youtube-dl==2021.12.17
yt-dlp==2024.3.10
ytmusicapi==1.7.0
